@model List<BloodDonors>

@if (User.IsInRole("Admin") || User.IsInRole("MedicalSpecialist"))
{
    <section class="section-container">
        <div class="container-text text-title">
            <h1>Кръводарители</h1>
        </div>
        <a class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="AddBloodDonor">Добави кръводарител</a>
        <p></p>
        <form asp-controller="Admin" asp-action="AdminPanel" method="get">
            <table class="table">
                <thead>
                    <tr>
                        @* <div class="form-group col-md-4">
                            <input type="search" name="searched" placeholder="Име..." value="@ViewBag.Searched" />
                            <button type="submit" class="btn btn-dark">
                                Търси&nbsp;
                                <i class="fas fa-search"></i>
                            </button>
                        </div> *@
                        <div class="form-group col-md-3">
                            <label>Търсене по име и фамилия</label>
                            <input type="search" name="searched" class="form-control" value="@ViewData["Searched"]" placeholder="Въведете име или фамилия">
                            <p></p>
                            <button type="submit" class="btn btn-dark">
                                Търси&nbsp;
                                <i class="fas fa-search"></i>
                            </button>
                            <a asp-action="AdminPanel" class="btn btn-secondary">Изчисти</a>
                        </div>
                        <p></p>
                        <div class ="form-group col-md-4">
                            <label>Кръвна група</label>
                            <select name="bloodGroupId" class="form-control">
                                <option value="">-- Избери кръвна група --</option>
                                @foreach (var group in ViewData["BloodGroups"] as SelectList)
                                {
                                    <option value="@group.Value" selected="@(group.Value == Context.Request.Query["bloodGroupId"] ? "selected" : null)">
                                        @group.Text
                                    </option>
                                }
                            </select>
                            <p></p>
                            <button type="submit" class="btn btn-primary">Филтрирай</button>
                            <a asp-action="AdminPanel" class="btn btn-secondary">Изчисти</a>
                        </div>
                        <p></p>
                        <div class="form-group col-md-4">
                            <label>Резус-фактор</label>
                            <select name="rhesusFactor" class="form-control"> 
                                <option value="">-- Изберете резус-фактор--</option>
                                <option value="+">Положителен (+)</option>
                                <option value="-">Отрицателен (-)</option>
                            </select>
                            <p></p>
                            <button type="submit" class="btn btn-primary">Филтрирай</button>
                            <a asp-action="AdminPanel" class="btn btn-secondary">Изчисти</a>
                        </div>
                    </tr>
                </thead>
            </table>
        </form>
        <table class="table">
            <thead>
                <tr>
                    @* <th>Id</th> *@
                    <th>Потребителско име</th>
                    <th>Електронна поща</th>
                    <th>Име</th>
                    <th>Фамилия</th>
                    <th>Възраст</th>
                    <th>Кръвна група</th>
                    <th>Резус-фактор</th>
                    <th>Контакти</th>
                    <th>Опции</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <p class="text-danger">Няма налични кръводарители.</p>
                    return;
                }
                @foreach (var bloodDonor in Model)
                {
                    <tr>
                        @* <th>@bloodDonor.Id</th> *@
                        <td>@bloodDonor.User.UserName</td>
                        <td>@bloodDonor.User.Email</td>
                        <td>@bloodDonor.User.FirstName</td>
                        <td>@bloodDonor.User.LastName</td>
                        <td>@bloodDonor.Age</td>
                        <td>@bloodDonor.BloodGroup.Name</td>
                        <td>@bloodDonor.RhesusFactor</td>
                        <td>@bloodDonor.Contacts</td>
                        <th>
                            <a class="btn btn-warning" asp-controller="Admin" asp-action="EditBloodDonor" asp-route-id="@bloodDonor.Id">Edit</a>
                            <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteBloodDonor" asp-route-id="@bloodDonor.Id">Delete</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}