<div class="profile-container">

    <div class="profile-header">
        <h2>Моят профил</h2>
    </div>

    <div class="profile-info">
        <p><strong>Име:</strong> <span>@Model.User.FirstName @Model.User.LastName</span></p>
        <p><strong>Потребителско име:</strong> <span>@Model.User.UserName</span></p>
        <p><strong>Имейл:</strong> <span>@Model.User.Email</span></p>
        <p><strong>Възраст:</strong> <span>@Model.Age</span></p>
        <p><strong>Кръвна група:</strong> <span>@Model.BloodGroup.Name @Model.RhesusFactor</span></p>
        <p><strong>Контакти:</strong> <span>@Model.Contacts</span></p>
    </div>
</div>
