@model ApplicationUser

@{
    ViewData["Title"] = "Изтриване на медициснки лице";
}

<h1>@ViewData["Title"]</h1>

<h3>Сигурни ли сте, че искате да изтриете това медицинско лице?</h3>
<p></p>
<div>
    <p><strong>Потребителско име:</strong> @Model.UserName</p>
    <p><strong>Електронна поща:</strong> @Model.Email</p>
    <p><strong>Име:</strong> @Model.FirstName @Model.LastName</p>
</div>

<form asp-action="DeleteConfirmedMS" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id"/>
    <input type="hidden" asp-for="PasswordHash" value="@Model.PasswordHash"/>
    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a asp-action="MedicalSpecialist" asp-controller="MedicalSpecialist" class="btn btn-secondary">Отказ</a>
</form>
