@model ApplicationUser

@{
    ViewData["Title"] = "Изтриване на медициснки лице";
}

<div class="container mt-4">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h3 class="text-muted">Сигурни ли сте, че искате да изтриете този кръводарител?</h3>

    <div class="card shadow-lg border-danger">
        <div class="card-body">
            <p class ="card-text"><strong>Потребителско име:</strong> @Model.UserName</p>
            <p class="card-text"><strong>Електронна поща:</strong> @Model.Email</p>
            <p class="card-text"><strong>Име:</strong> @Model.FirstName @Model.LastName</p>
        </div>
    </div>

    <form asp-action="DeleteConfirmedMs" method="post" asp-antiforgery="true" class="mt-4">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="PasswordHash" value="@Model.PasswordHash" />
        <button type="submit" class="btn btn-danger me-2">Изтрий</button>
        <a asp-action="MedicalSpecialist" asp-controller="MedicalSpecialist" class="btn btn-secondary">Отказ</a>
    </form>
</div>