@model IEnumerable<ApplicationUser>

@if (User.IsInRole("Admin"))
{
    <section class="section-container">
        <div class="container-text text-title">
            <h1>Медицински специалисти</h1>
        </div>

        <a class="btn btn-success" asp-area="" asp-controller="MedicalSpecialist" asp-action="AddMedicalSpecialist">Добави медицински специалист</a>
        <form asp-controller="MedicalSpecialist" asp-action="MedicalSpecialist" method="get">
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            <input type="search" name="searched" placeholder="Име..." value="@ViewBag.Searched" />
                            <button type="submit" class="btn btn-dark">
                                Търси&nbsp;
                                <i class="fas fa-search"></i>
                            </button>
                        </td>
                        @* <td>
                            <select name="bloodGroupId" class="form-control">
                                <option value="">-- Избери кръвна група --</option>
                                @foreach (var group in ViewData["BloodGroups"] as SelectList)
                                {
                                    <option value="@group.Value" selected="@(group.Value == Context.Request.Query["bloodGroupId"] ? "selected" : null)">
                                        @group.Text
                                    </option>
                                }
                            </select>
                            <p></p>
                            <button type="submit" class="btn btn-primary">Филтрирай</button>
                            <a asp-action="AdminPanel" class="btn btn-secondary">Изчисти</a>
                        </td> *@
                    </tr>
                </thead>
            </table>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Потребителско име</th>
                    <th>Електронна поща</th>
                    <th>Име</th>
                    <th>Фамилия</th>
                    <th>Oпции</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <p class="text-danger">Няма налични медицински специалисти.</p>
                    return;
                }
                @foreach (var medicalSpecialist in Model)
                {
                    <tr>
                        <td>@medicalSpecialist.UserName</td>
                        <td>@medicalSpecialist.Email</td>
                        <td>@medicalSpecialist.FirstName</td>
                        <td>@medicalSpecialist.LastName</td>
                        <th>
                            <a class="btn btn-warning" asp-controller="MedicalSpecialist" asp-action="EditMedicalSpecialist" asp-route-id="@medicalSpecialist.Id">Edit</a>
                            <a class="btn btn-danger" asp-controller="MedicalSpecialist" asp-action="DeleteMedicalSpecialist" asp-route-id="@medicalSpecialist.Id">Delete</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}