@using Microsoft.AspNetCore.Identity
@using BloodCenter.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        @if (User.IsInRole("Admin") || User.IsInRole("MedicalSpecialist"))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark @(ViewContext.RouteData.Values["action"]?.ToString() == "MyProfileMed" ? "active" : "")"
                   asp-controller="MedicalSpecialist" asp-action="MyProfileMed" title="Manage">
                    Профил - @User.Identity.Name
                </a>
            </li>
        }
        @if (User.IsInRole("Donor"))
        {
            @* <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-controller="BloodDonor" asp-action="MyProfile" title="Manage">
                    Здравей, @User.Identity.Name!
                </a>
            </li> *@
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "BloodDonor" && ViewContext.RouteData.Values["action"]?.ToString() == "MyProfile" ? "active" : "")"
                   asp-controller="BloodDonor" asp-action="MyProfile">Профил - @User.Identity.Name</a>
            </li>
        }
        

    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Изход</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}
</ul>
