@model BloodCenter.Models.Requests

@{
    ViewData["Title"] = "Изтриване на заявка";
}

<h1>@ViewData["Title"]</h1>

<h3>Сигурни ли сте, че искате да изтриете заявката?</h3>
<p></p>
<div>
    <p><strong>Медицинско заведение:</strong> @Model.Hospital</p>
    <p><strong>Кръвна група:</strong> @Model.BloodGroup.Name@Model.RhesusFactor</p>
    <p><strong>Количество:</strong> @Model.Quantity</p>
    <p><strong>Дата на заявката:</strong> @Model.Date</p>
    <p><strong>Статус:</strong> @Model.Status</p>
</div>

<form method="post" asp-action="Delete">
    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Отказ</a>
</form>
